<button class="btn btn-primary" (click)="actualizarHora(); checkHour()">
  HOLI
</button>

<div class="container">
  <h1 #Dateh1 class="text-center" style="font-size: 6rem">
    {{ date  }} <br />
    {{ date }}
  </h1>
</div>
